body{
    overflow: hidden;
}
.background{
    background-image:url('./../../assets/stoneWall2.png');
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
   
}
.rightWall{
    background-color:rgb(157, 157, 157);
    position: absolute;
    right: 0;
    height: 100vh;
    width: 5%;
    z-index: 2;

}
.leftWall{
    background-color:rgb(157, 157, 157);
    position: absolute;
    left: 0;
    height: 100vh;
    width: 5%;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.roof{
    background-color:rgb(157, 157, 157);
    position: absolute;
width: 100%;
height: 10vh;
z-index: 2;
}
.floor{
    background-color:rgb(157, 157, 157);
    position: absolute;
width: 100%;
height: 10vh;
bottom: 0;
z-index: 2;
}
.floor1{
    background-color:rgb(157, 157, 157);
    position: absolute;
width: 70%;
height: 5vh;
top: 30%;
left: 0;
z-index: 2;
}
.floor2{
    background-color:rgb(157, 157, 157);
    position: absolute;
width: 70%;
height: 5vh;
top: 60%;
left: 0;
z-index: 2;
}
.copperOre{
    scale: 1.25;
position: absolute;

left: 10%;
top: 15%;
z-index: 3;
}
.ironOre{
    scale: 1.25;
    position: absolute;
    
    left: 10%;
    top: 45%;
    z-index: 3;
}
.goldOre{
    scale: 1.25;
    position: absolute;
    
    left: 10%;
    top: 75%;
    z-index: 3;
}
.gate1{
    width: 40%;
    z-index: 1;
    background-color:rgb(72, 36, 0);
    position: absolute;

height: 3%;
top: 30%;
right: 0;
}
.gate2{
    width: 40%;
    z-index: 1;
    background-color:rgb(72, 36, 0);
    position: absolute;

height: 3%;
top: 60%;
right: 0;
}

.level1{
   position: absolute;
    z-index: 3;
    height: 50px;
    width: 50px;
    top: 20%;
}
.level2{
    position: absolute;
     z-index: 3;
     height: 50px;
     width: 50px;
     top: 50%;
 }
 .level3{
    position: absolute;
     z-index: 3;
     height: 50px;
     width: 50px;
     top: 80%;
 }
 .upgrade1{
    text-align: center;
    font-size: 30px;
    left: 30%;
    width: 15%;
    position: absolute;
    border-radius: 5px;
    border: 3px solid rgb(39, 39, 39);
    top: 15%;
    height: 10vh;
    background: rgb(255, 162, 0);
 }
 .upgrade2{
    text-align: center;
    font-size: 30px;
    left: 30%;
    width: 15%;
    position: absolute;
    border-radius: 5px;
    border: 3px solid rgb(39, 39, 39);
    top: 45%;
    height: 10vh;
    background: rgb(255, 162, 0);
} 
.upgrade3{
    text-align: center;
    font-size: 30px;
    left: 30%;
    width: 15%;
    position: absolute;
    border-radius: 5px;
    border: 3px solid rgb(39, 39, 39);
    top: 70%;
    height: 10vh;
    background: rgb(255, 162, 0);
}
.cost1{

}

 @media screen and (max-width: 1100px) {
        .copperOre,.ironOre,.goldOre{
            scale: 0.75;
        }
  }
  @media screen and (max-height: 750px) {
    .copperOre,.ironOre,.goldOre{
        scale: 0.75;
    }
}
.cost1{
position: absolute;
z-index: 3;
left: 50%;
top:  15%;
}

.cost1 div{
    display: flex;
    align-items: center;
    margin: 5px;
}

.cost1 div span{
    font-size: 32px;
    margin-right: 5px;
}
.cost2{
    position: absolute;
    z-index: 3;
    left: 50%;
    top:  45%;
    }
    
    .cost2 div{
        display: flex;
        align-items: center;
        margin: 5px;
    }
    
    .cost2 div span{
        font-size: 32px;
        margin-right: 5px;
}
.cost3{
    position: absolute;
    z-index: 3;
    left: 50%;
    top:  70%;
    }
    
    .cost3 div{
        display: flex;
        align-items: center;
        margin: 5px;
    }
    
    .cost3 div span{
        font-size: 32px;
        margin-right: 5px;
    }

.odblokuj1{
    background-color: red;
    text-align: center;
    font-size: 30px;
    left: 70%;
    width: 15%;
    position: absolute;
    border-radius: 5px;
    border: 3px solid rgb(39, 39, 39);
    top: 15%;
    height: 10vh;
}
.odblokuj2{
    background-color: red;
    text-align: center;
    font-size: 30px;
    left: 70%;
    width: 15%;
    position: absolute;
    border-radius: 5px;
    border: 3px solid rgb(39, 39, 39);
    top: 45%;
    height: 10vh;
}

.cost4{
    position: absolute;
    z-index: 3;
    left: 87%;
    top:  15%;
    }
    
    .cost4 div{
        display: flex;
        align-items: center;
        margin: 5px;
    }
    
    .cost4 div span{
        font-size: 32px;
        margin-right: 5px;
    }
    .cost5{
        position: absolute;
        z-index: 3;
        left: 87%;
        top:  45%;
        }
        
        .cost5 div{
            display: flex;
            align-items: center;
            margin: 5px;
        }
        
        .cost5 div span{
            font-size: 32px;
            margin-right: 5px;
        }
    